
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Minimal Kanban</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/pricing.css" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h1 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark btn" href="{{ url_for('views_blueprint.user') }}"><strong>MINIMAL KANBAN</strong></a></h1>
      <nav class="my-4 my-md-1 mr-md-3">
        <a class="p-2 text-dark btn" href="{{ url_for('views_blueprint.about') }}">About</a>
        <a class="btn btn-outline-primary" href="{{ url_for('views_blueprint.logout') }}">Log out</a>
      </nav>
    </div>

    {% block content %}

    <div class="container text-center">
      <br>
      <p class="lead">Organize your tasks and get more done</p>
      <br>
    </div>

    <div class="container">
      <form class="" action = "/add" method="POST">
        <div class="input-group mb-3"  style="margin: auto; width: 60%;">
            <input type="text" class="form-control" name="todoitem" placeholder="Input a new task">
            <input class="btn btn-outline-primary" type="submit">
        </div>
      </form>
    </div><br>

    <div class="container-fluid">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h6 class="my-0 font-weight-normal">TO DO</h6>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <ul>
                {% for todo in todos %}
                <li style="list-style-type: none;">
                  {{ todo.text }} |
                  <a href={{ url_for("views_blueprint.doing", id=todo.id) }} class="badge badge-success">doing</a>
                  <a href={{ url_for("views_blueprint.done", id=todo.id)}}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  </a>
                  <a href={{ url_for("views_blueprint.remove", id=todo.id)}}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h6 class="my-0 font-weight-normal">DOING</h6>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <ul>
                {% for doin in doing %}
                <li style="list-style-type: none;">
                  {{ doin.text }} |
                  <a href={{ url_for("views_blueprint.todo", id=doin.id) }} class="badge badge-warning">todo</a>
                  <a href={{ url_for("views_blueprint.done", id=doin.id)}}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  </a>
                  <a href={{ url_for("views_blueprint.remove", id=doin.id)}}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h6 class="my-0 font-weight-normal">DONE</h6>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <ul>
                {% for don in done %}
                <li style="list-style-type: none;">
                  {{ don.text }} |
                  <a href={{ url_for("views_blueprint.todo", id=don.id) }} class="badge badge-warning">todo</a>
                  <a href={{ url_for("views_blueprint.doing", id=don.id)}} class="badge badge-success">doing </a>
                  <a href={{ url_for("views_blueprint.remove", id=don.id)}}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </div>
        </div>
      </div>

    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/jquery-slim.min.js"><\/script>')</script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
